name: CI

on: [push]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: checkout
          uses: actions/checkout@v1
      - name: run tests
        run: |
          npm i
          npm test
        shell: powershell
